<% include partials/header.ejs %>

<h1> I'm the campgrounds page! </h1>

<h4>
    <a href="/campgrounds/new">Add new campground</a>
</h4>

<% campgrounds.forEach(campground => { %> 
    <div>
        <h4>
            <%= campground.name %>
        </h4>
        <img src="<%= campground.image %>">
    </div>
<% }) %>

<% include partials/footer.ejs %>