<% include partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <h1> Welcome to YelpCamp!</h1>
        <p> View our hand-picked campgrounds</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
        </p>
        
    </header>

    <div class="row">
        <% campgrounds.forEach(campground => { %> 
            <div class="col-lg-3 col-md-4 col-sm-6">
                <figure class="figure">
                    <img class="figure-img img-fluid img-thumbnail" src="<%= campground.image %>">
                    <figcaption class="figure-caption"><%= campground.name %></figcaption>
                </figure>
                    
            </div>
        <% }) %>
    </div>
</div>
    
<% include partials/footer.ejs %>