<% include partials/header.ejs %>

<div class="container">
    <h1> Create a new campground!</h1>

    <form action="/campgrounds" method="POST">
        <div class="form-group">
            <label for="campgroundName">Campground Name</label>
            <input type="text" name="name" class="form-control" id="campgroundName" placeholder="Campground name goes here">
        </div>
        <div class="form-group">
        <label for="campgroundPictureURL">Image</label>
            <input type="text" name="image" class="form-control" id="campgroundPictureURL" placeholder="Please enter the URL for the campground image">
        </div>
            <button type="submit" class="btn btn-primary">Submit!</button>
    </form>

    <h4>
        <a href="/campgrounds">Go back</a>
    </h4>
</div>
<% include partials/footer.ejs %>